:root {
  --primary: #009107;
  --muted: #6b7280;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*body*/
body {
  font-family: Inter, system-ui, Segoe UI, Roboto, Arial;
  line-height: 1.6;
  background: #ffffff;
  color: #000000;
}

/* menu */
.nav {
  background: #ffffff;
  box-shadow: 0 1px 4px #1eff00;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 50;
  padding: 10px 0;
}

.nav-container {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*brand**/
.brand {
  font-size: 22px;
  font-weight: 900;
  color: rgb(0, 117, 8);
  white-space: nowrap;
}
.logo {
  
    width: 150px;
    margin-left:400px;
}
.menu {
  display: flex;
  gap: 25px;
}

.menu a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: blue;
}

/* display */
.hero {
  display: flex;
  gap: 24px;
  align-items: center;
  padding: 50px 0;
}

.hero-text h1 {
  font-size: 28px;
  margin-bottom: 12px;
}

.hero-text p {
  color: var(--muted);
  margin-bottom: 18px;
}

.hero img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* picture */
img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* imteroior & Exterior project */
.container,
.container2 {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

/* BUTTONS */
.btn {
  display: inline-block;
  padding: 10px 16px;
  border-radius: 8px;
  text-decoration: none;
}

.btn.primary {
  background: var(--primary);
  color: white;
  border: none;
}

/* CARDS */
.card {
  background: #ffffff;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgb(1, 147, 1);
  margin-bottom: 20px;
}

/* GRID */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* FORMS */
input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #00e4fd;
  border-radius: 8px;
}

/* FOOTER */
.footer {
  background: #00014f;
  padding: 20px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.location,
.phone,
.gmail,
.facebook {
  height: 20px;
  width: auto;
}


@media (max-width: 900px) {

  /* menu */
  .nav-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-align: center;
  }

  .brand {
    font-size: 18px;
    white-space: normal;
    line-height: 20px;
     margin-bottom: 5px;
  }

  .menu {
      display: flex;
      flex-direction: row;     
      flex-wrap: wrap;         
      gap: 10px;               
      justify-content: center;
      width: 100%
  }

  .menu a {
    font-size: 15px;
    padding:3px 6px;
  }

  .hero {
    flex-direction: column;
    text-align: center;
    padding: 30px 0;
  }

  .grid-3 {
    grid-template-columns: 1fr;
  }
}

